<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="./sobre.css">
    <title>Sobre</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../../index.html">Página Inicial</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="../experiencia/experiencia.html">Experiência</a></li>
                <li><a href="../formacao/formacao.html">Formação</a></li>
            </ul>
        </nav>
    </header>
    <main id="main-about">
        <div id="container">
            <section id="sobre">
                <h1>Sobre</h1>
                <p>Profissional com sólida experiência em desenvolvimento de software, capaz de solucionar problemas de forma humanizada 
                    com análise crítica e comunicação eficaz. Contribuí no desenvolvimento de soluções avançadas, desde a criação de 
                    ferramentas para análise de energia renovável até a centralização de solicitações de clientes e sistemas financeiros, 
                    priorizando boas práticas, utilização de padrões de desenvolvimento de software, microsserviços cloud e 
                    metodologias ágeis. 
                </p>
                <p>
                    Minha paixão pela área tech surgiu ao descobrir o mundo de possibilidades que o setor proporciona, sendo parte 
                    indispensável em nosso cotidiano. Desde então, busco estar sempre atualizado. Me aprofundo ao máximo para 
                    acompanhar as tendências do mundo digital e adquirir as hard skills que o mercado exige. 
                </p>
                <p>
                    Tenho por objetivo participar de projetos onde possa aplicar meu conhecimento para criar soluções inovadoras.
                </p>
            </section>
            <section id="tecnologias">
                <h1>Minhas Habilidades</h1>
                <table>
                    <tr>
                        <td><img src="../../img/amazonwebservices-original-wordmark.svg" alt="Item 1"></td>
                        <td><img src="../../img/azure-original.svg" alt="Item 2"></td>
                        <td><img src="../../img/css3-original.svg" alt="Item 3"></td>
                        <td><img src="../../img/flutter-original.svg" alt="Item 4"></td>
                    </tr>
                    <tr>
                        <td><img src="../../img/html5-original.svg" alt="Item 5"></td>
                        <td><img src="../../img/java-original.svg" alt="Item 6"></td>
                        <td><img src="../../img/javascript-original.svg" alt="Item 7"></td>
                        <td><img src="../../img/mysql-original.svg" alt="Item 8"></td>
                    </tr>
                    <tr>
                        <td><img src="../../img/nestjs-original-wordmark.svg" alt="Item 9"></td>
                        <td><img src="../../img/nextjs-original.svg" alt="Item 10"></td>
                        <td><img src="../../img/nodejs-original.svg" alt="Item 11"></td>
                        <td><img src="../../img/postgresql-original.svg" alt="Item 12"></td>
                    </tr>
                    <tr>
                        <td><img src="../../img/python-original.svg" alt="Item 13"></td>
                        <td><img src="../../img/react-original.svg" alt="Item 14"></td>
                        <td><img src="../../img/typescript-original.svg" alt="Item 15"></td>
                        <td><img src="../../img/spring-original-wordmark.svg" alt="Item 16"></td>
                    </tr>
                    <tr>
                        <td><img src="../../img/insomnia-original.svg" alt="Item 13"></td>
                        <td><img src="../../img/postman-original.svg" alt="Item 14"></td>
                        <td><img src="../../img/git-original.svg" alt="Item 15"></td>
                        <td><img src="../../img/googlecloud-original.svg" alt="Item 16"></td>
                    </tr>
                </table>
            </section>
        </div>
    </main>
    <footer>
        <div>© 2024 Matheus Monteiro - Todos os direitos reservados</div>
        <div class="social-links">
            <a href="https://github.com/matheus-monteiro97" target="_blank">
                <img src="../../img/github-original.svg" style="width: 40px; height: auto;" alt="GitHub Logo">
            </a>
            <a href="https://www.linkedin.com/in/matheus-monteiro97/" target="_blank">
                <img src="../../img/linkedin-png.webp" style="width: 60px; height: auto;" alt="LinkedIn Logo">
            </a>
        </div>
    </footer> 
</body>
</html>